.colculator {
    height: 50vh;
    width: 35vw;
    display: grid;
    border-radius: 5%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
}
@media (max-width:780px) {
    .colculator {
        background: rgb(222, 226, 228);
    }
    input {
        font-weight: bold;
        font-size: medium;
        border-radius: 10px;
       background: rgb(243, 247, 250);
        margin: 2px;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    button {
        font-weight: bold;
        font-size: large;
        text-align: center;
        margin: 2px;
        border: 2px solid rgb(245, 238, 238);
        border-radius: 25px;
        background-color: #d5dbdb;
    }
}.cancel {
    color: red;
}
.operator {
    background-color: cornflowerblue;
}